<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zing Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" id="main-nav">
        <div class="container-fluid"><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#"><img src="/assets/img/the-zing-project-logo.png" alt="zing-logo" width="40px" height="40px"></a>
            <!-- <div
                class="collapse navbar-collapse d-flex justify-content-start" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Templates</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Signature Request</a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div> -->
        <!-- <div class="collapse navbar-collapse d-flex justify-content-start justify-content-lg-end" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Logout</a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div> -->
        </div>
    </nav>
    <div class="contact-clean">
        <form method="post" action="/payment/update">
            <h2 class="text-center">Update IntegraPay Details</h2>
            <div class="text-center logo-holder"><img src="/assets/img/the-zing-project-logo.png" alt="zing-logo"></div>
            <div class="form-group">
                <input class="form-control" type="hidden" name="reference" value=<%= userInfo.uniqueReference %>>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" name="givenName" placeholder="" value=<%= userInfo.givenName %>>
            </div>
            <div class="form-group">
                <label>Family or Business Name</label>
                <input class="form-control" type="text" name="familyOrBusinessName" placeholder="" value=<%= userInfo.familyOrBusinessName %>>
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input class="form-control" type="email" name="email" placeholder="" value=<%= userInfo.email %>>
            </div>
            <div class="form-group">
                <label>Phone #</label>
                <input class="form-control" type="tel" placeholder="" name="phone" inputmode="tel" value=<%= userInfo.phone%>>
            </div>
            <div class="form-group">
                <label>Mobile #</label>
                <input class="form-control" type="tel" placeholder="" name="mobile" inputmode="tel" value=<%= userInfo.mobile%>>
            </div>
            <div class="form-group">
                <label>Address Line 1</label>
                <input class="form-control" type="text" name="line1" placeholder="">
            </div>
            <div class="form-group">
                <label>Address Line 2</label>
                <input class="form-control" type="text" name="line1" placeholder="">
            </div>
            <div class="form-group">
                <label>City/Suburb</label>
                <input class="form-control" type="text" name="suburb" placeholder="">
            </div>
            <div class="form-group">
                <label>State</label>
                <input class="form-control" type="text" name="state" placeholder="">
            </div>
            <div class="form-group">
                <label>Postcode</label>
                <input class="form-control" type="text" name="postcode" placeholder="">
            </div>
            <div class="form-group">
                <label>Country</label>
                <input class="form-control" type="text" name="country" placeholder="">
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                <input class="form-control" type="date" name="dob" value=<%= userInfo.dateOfBirth %>>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Update</button></div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>